<div class="channel-management-container">
    <h2>Channels</h2>
    <ul>
      <li *ngFor="let channel of channels">
        <span>{{ channel.name }}</span>
        <button (click)="selectChannel(channel)">Edit</button>
        <button (click)="deleteChannel(channel)">Delete</button>
      </li>
    </ul>
    
    <div class="channel-form">
      <h3>{{ isEditing ? 'Edit' : 'Add' }} Channel</h3>
      <form [formGroup]="channelForm" (ngSubmit)="saveChannel()">
        <label for="channelName">Channel Name</label>
        <input id="channelName" type="text" formControlName="name" required />
        <button type="submit">{{ isEditing ? 'Update' : 'Add' }} Channel</button>
      </form>
    </div>
  </div>
  