<div class="user-management-container">
  <h1>User Management</h1>

  <div class="user-list">
    <h2>Users</h2>
    <ul>
      <li *ngFor="let user of users">
        <span>{{ user.username }} ({{ user.roles.join(', ') }})</span>
        <div class="user-actions">
          <button (click)="selectUser(user)">Edit</button>
          <button (click)="deleteUser(user)">Delete User</button>
          <button *ngIf="!isSuperAdmin(user)" (click)="makeSuperAdmin(user)">Make SUPER ADMIN</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<button (click)="returnToDashboard()">Back to Dashboard</button>